<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacedouble">
      <img class="img-responsive center-block" src="assets\images\ok.png">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro  spacedouble">
      <h4 class="stringcollor">CADASTRO REALIZADO COM SUCESSO!</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 spacedouble" *ngIf="pegamodelo">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label><b>1 -</b> {{pegamodelo?.questionum}}</label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label><b>2 -</b> {{pegamodelo?.questiondois}}</label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label><b>3 -</b> {{pegamodelo?.questiontres}}</label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label><b>4 -</b> {{pegamodelo?.questionquatro}}</label>
      </div>  
    </div>
  </div>
</div>