<div class="container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacedouble">
      <img class="img-responsive center-block" src="assets\images\checklist.png">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacesimples">
      <h4 class="stringcollor">CADASTRO REALIZADO COM SUCESSO!</h4>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacedouble">
      <label>{{pegamodelo | json}}</label>
    </div>

  </div>
</div>
