<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacedouble">
      <img class="img-responsive center-block" src="assets\images\checklist.png">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacesimples">
      <h4 class="stringcollor">INFORMAÇÕES RECEBIDAS!</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacedouble">
      <label>Em até 48h daremos um retorno sobre a abertura de sua conta.</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacesimple">
      <label>Para receber nossas recomentações de investimento e começar a investir, precisamos conhecer seu perfil de investidor.</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacesimple">
      <label>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacedouble">
      <label>Gostaria de responder ao Perfil do investidor?</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centro spacesimple">
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">Não</button>
      <button type="button" class="btn btn-outline-success" [routerLink]="['/telas']">Sim</button>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="right espacoclose">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h5 class="stringcollor">TERMO</h5>
        </div>
        <label class="spacedouble">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type.
        </label>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 centro">
              <div class="form-check">
                <input class="form-check-input" (click)="aceite()" type="checkbox" value="" id="aceitou">
                <label class="form-check-label" for="defaultCheck1">
                  Li e aceito os termos e condições acima
                </label>
              </div>
            </div>
            <div class="col-md-12 spacesimple">
              <button id="btnok" (click)="limparbox()" disabled type="button" class="btn btn-warning textobotao  btn-lg btn-block" data-dismiss="modal"
                [routerLink]="['/quatro']">OK, ENTENDI</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>